.gradientStyle {
    position: relative;
    min-height: fit-content;
    max-width: 700px;
    border-radius: 25px;
    z-index: 1;
    background: linear-gradient(to bottom, #A646A8, #6E3198);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
}

.btnSend {
    background: #401C42;
    border-radius: 5px;
    border: 1px #56288A;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btnSend:hover {
  background: #210c38;
  border: 1px solid #401C42;
}

form, .tasksList {
    width: 100%;
}
